body {
  font-family: "Vollkorn SC", serif !important;
}
h1 {
  font-size: 75px !important;
  text-align: center;
}
#heading,
h3 {
  text-align: center;
  color: black;
  background: #7a7a7a;
  margin-bottom: 30px;
}
h2{
    text-align: center;
    color: black;
    background: #7a7a7a;
    padding-bottom: 15px;
}
.timeDate {
  float: left;
  text-align: left;
  vertical-align: middle;
  color: black;
  max-height: 200px;
  max-width: 200px;
  border: solid black 4px;
  padding: 20px;
}
#rightImage {
  max-height: 200px;
  position: absolute;
  right: 0;
  top: 0;
}
#scheduleTable,
#addTrainForm {
  max-width: 1100px;
  padding: 12px;
}
input {
  width: 50%;
}
.form-group {
  color: white;
  background: #32383e;
  padding: 0 0 12px 0;
}
#searchInput {
  margin: 0 0 0 12px;
}
p {
  padding: 12px 12px 0 12px;
  margin: 0 0 2px 0 !important;
}
.table {
  text-align: left;
  background: #32383e !important;
  color: white;
}
button {
  margin: 0 !important;
}
#trainBW {
  width: 492px;
  position: absolute;
  z-index: 1;
  right: 97px;
  bottom: -324px;
}
